<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Spring Boot</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <script th:src="@{/script.js}"></script>
</head>
<body>
<div class="container">
    <h1>🌟 Introduce tu nombre</h1>
    <form action="#" th:action="@{/resultado}" method="post">
        <input type="text" name="nombre" placeholder="Tu nombre" required/>
        <br>
        <button type="submit">✨ Enviar</button>
    </form>
</div>
</body>
</html>
